/*changes to be made through ids*/
#normal{
   font-style: normal;
}
#italic{
    font-style: italic;
}
#oblique{
    font-style:oblique;
}
#smallcap{
     font-variant-caps: small-caps;
}
#Wnormal{
    font-weight : normal;
}
#Wbold{
    font-weight: bold;
}
#Wbolder{
    font-weight: bolder;
}
#lighter{
    font-weight: lighter;
}
#xxlarge{
    font-size: x-large;
}
#medium{
    font-size: medium;
}
#small{
    font-size: small;
}
#xxsmall{
    font-size: x-small;
}
#size25pt{
    font-size: 25pt;
}
#size150{
    font-size:150%;
}
#linenormal{
    /*em is unit relative to already font size*/
    /* line height is distance b/w two lines vertically*/
    line-height: 5em;
}
#height25pt{
    line-height: 25pt;
}
#height200{
    line height: 200%;
}



