.nav {
    border : 2px solid black;
    background-color: rgb(82, 0, 114);
    width : 100px;
    color: white;
    height: 80px;
    margin : 10px 10px;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    align-items: top;
    padding: 10px 20px 0px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-image: linear-gradient(rgb(40, 2, 54),rgb(100,0,150));
}
#bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap : wrap; 
    background-image: linear-gradient(rgb(0, 0, 0),rgb(100,0,150));

}
.nav:hover{
    background-color: white;
    color: rgb(118, 3, 212);
    height:90px ;
    width: 110px ;
    background-image: linear-gradient(rgb(250, 250, 250),rgb(238, 203, 255));
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap : wrap; 
    align-items: flex-between;
    float: right;
    margin: 5px;
    background-image: linear-gradient(rgb(40, 2, 54),rgb(100,0,150));

}
.course{
    border : 2px solid black;
    background-color:white;
    width : 100px;
    color:  rgb(111, 2, 212);
    height: 40px;
    margin : 10px 10px;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    align-items: top;
    padding: 10px 20px 0px 20px;
    border-radius: 10px;
}
.course:hover{
    background-color:rgb(136, 3, 212) ;
    color:white;
}
.presenters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap : wrap; 
    background-color: transparent;
    width: 1245px;
    max-height: unset;
    align-content: flex-end;
}
.sth {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap : wrap; 
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(0, 0, 0);
    height:250px ;
    border-radius: 10px;
    align-items: flex-start;
    width: 1240px;
    background-image: linear-gradient(-90deg,grey, rgb(0, 0, 0));
}
.free{
   display : flex;
   flex-direction:row ;
   justify-content: space-around;
   flex-wrap: wrap;
   text-align: start;
   background-color:rgb(164, 0, 206);
   align-items: flex-start;
   border: 2px solid black;
   width : 1000px;
   height: 800px;
   float: left;
   border-radius: 10px;
   padding: 10px 5px 5px 10px;
   margin: 5px;
   background-image: linear-gradient(rgb(0, 0, 0),rgb(100,0,150),rgb(139, 4, 250));

}
.space{
   width: 500px;
   height: 500px;
   animation-name: htmlcss;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   /*position : relative;*/
}
/*@keyframes htmlcss{
   0% { 
        width : 125px;
        height: 125px;
        opacity : 0.0;
       
    }
    50% { 
        width : 500px;
        height: 500px;
        opacity : 1.0;
    }
    100%{
        
        width : 125px;
        height: 125px;
        opacity : 0.0;
       
    }

       
}
*/
@keyframes htmlcss{
    0% { 
        transform: rotateZ(0deg);
     }
     50% { 
        transform: rotateZ(180deg);
     }
     100%{
      transform: rotateZ(360deg)
        
     }
 
        
 }

.logo{
    margin : 20px 20px;
    text-align: center;
    align-items: top;
    padding: 10px;
    display : flex;
    flex-direction:row ;
    justify-content: space-around;
    flex-wrap: wrap;
}    

.wrapper {
    position: relative;
    display: flex;
    margin :4px;
    min-width: 500px;
  }
  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    
  }

  .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    visibility: hidden; 
  }

  .search {
    border: 3px solid black;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: transparent;
  }
  
  .search:hover, .search:focus {
    border: 1.5px solid rgb(71, 2, 88);
    background-color: rgb(176, 127, 199);
    background-image: linear-gradient (rgb(100,0,150),rgb(40, 2, 54));
  
}